<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${picture.title}">Zdjęcie testowe</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}" href="../static/styles/main.css">
</head>
<body>
    <div class="container">
        <img th:src="@{|/images/${picture.fileName}|}"
             src="../static/images/dog-glasses.jpg"
             th:alt="${picture.title}"
             alt="Pies w okularach test"
             class="pic">
        <p th:text="${picture.title}">Tytuł zdjęcia test</p>
        <p><a th:href="@{/}" href="#">Strona główna</a></p>
    </div>
</body>
</html>