<h1>Products</h1>
<div class="container">
    <div class="product">
        <img src="./../../assets/books.jpg" alt="Product Image">
        <h3>Book</h3>
        <p>RS.200/-</p>
        <button (click)="placeOrder(1, 'book', 'delivered', 200)"> Place Order</button>
    </div>

    <div class="product">
        <img src="./../../assets/books.jpg" alt="Product Image">
        <h3>Hanuman</h3>
        <p>RS.1000/-</p>
        <button (click)="placeOrder(1, 'book', 'delivered', 200)"> Place Order</button>
    </div>

    <div class="product">
        <img src="./../../assets/panda.jpg" alt="Product Image">
        <h3>Kungfu Panda</h3>
        <p>RS.500/-</p>
        <button (click)="placeOrder(1, 'book', 'delivered', 200)"> Place Order</button>
    </div>
</div>