<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    //wskazanie pliku html, który będzie otwierany na starcie aplikacji
    // domyślnie jest to index.html
    // może być kilka plików, jeżeli jeden nie zostanie znaleziony to będzie próbować szukać drugi, i trzeci itp...
    <welcome-file-list>
        <welcome-file>second.html</welcome-file>
        <welcome-file>third.html</welcome-file>
        <welcome-file>fourth.html</welcome-file>
    </welcome-file-list>
</web-app>