<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .container {
            margin: 0 auto;
            max-width: 400px;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            margin-top: 32px;
            align-content: center;
        }
        .lock-icon {
            display: block;
        }
        .login-header,
        .lock-icon {
            text-align: center;
        }
        .form-item {
            margin: 4px 0;
        }

    </style>
</head>
<body>
  <div class="container">
    <h1></h1>
    <i class="fa-solid fa-lock fa-10x lock-icon"></i>
      <form action="/zaloguj" method="post" class="login-form">
          <input name="user" placeholder="nazwa użytkownika" class="form-item">
          <input name="pass" placeholder="hasło" type="password" class="form-item">
          <button type="submit" class="form-item">Zaloguj</button>
      </form>
  </div>

</body>
</html>