<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spittr</title>
    <link rel="stylesheet" type="text/html" th:href="@{/resources/style.css}"/>
</head>
<body>
    <form method="post" th:object="${spitter}">

        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">
                    Dane wejściowe są niepoprawne
                </li>
            </ul>
        </div>

        <label th:class="${#fields.hasErrors('firstName')} ? 'error'">Imię:</label>
        <input type="text" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')} ? 'error'"><br/>

        <label th:class="${#fields.hasErrors('lastName')} ? 'error'">Nazwisko:</label>
        <input type="text" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')} ? 'error'"><br/>

        <label th:class="${#fields.hasErrors('email')} ? 'error'">Adres e-mail:</label>
        <input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')} ? 'error'"><br/>

        <label th:class="${#fields.hasErrors('username')} ? 'error'">Nazwa użytkownika:</label>
        <input type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')} ? 'error'"><br/>

        <label th:class="${#fields.hasErrors('password')} ? 'error'">Hasło:</label>
        <input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'error'"><br/>

        <input type="submit" value="Zarejestruj">

    </form>
</body>
</html>