body {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, tr, th, td {
    border: 2px solid black;
}

input {
    width: 80%;
}

thead {
    background-color: lightgray;
}