<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
    <h1>Strong główna</h1>
    <h2 th:text="${welcomeMessage}">Hello John!</h2>
    <a sec:authorize="isAuthenticated()"
       th:text="|Wyloguj się ${#authentication.name}|"
       href="#"
       th:href="@{/logout}">Wyloguj się John</a>



<!--    <a th:if="${#authentication.isAuthenticated()}" -->
<!--       th:text="|Wyloguj się ${#authentication.name}|" -->
<!--       href="#" -->
<!--       th:href="@{/logout}">Wyloguj się John</a>-->
</body>
</html>